<div class="container">
  <form (ngSubmit)="onSubmit(newTicketForm)" #newTicketForm="ngForm" *ngIf="newTicket" appNewTicketValidator>
    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" class="form-control" id="name" required
             [(ngModel)]="newTicket.name" name="name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Username is required
      </div>
    </div>
    <div class="form-group">
      <label for="details">Description</label>
      <textarea email class="form-control" id="details"
                [(ngModel)]="newTicket.details" name="details"> </textarea>
    </div>
    <div class="form-group">
      <label for="prio">Priority</label>
      <input type="number" class="form-control" id="prio"
              required
              [(ngModel)]="newTicket.priority" name="prio"
              #resultType="ngModel">
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      <select class="form-control" id="category"
              required
              [(ngModel)]="newTicket.category" name="category"
              #resultType="ngModel">
        <option *ngFor="let group of groups"
                [value]="group.name">{{group.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="assignee">Assignee</label>
      <select class="form-control" id="assignee"
              required
              [(ngModel)]="assigneeId" name="assignee"
              #resultType="ngModel">
        <option *ngFor="let user of users"
                [value]="user.id">{{user.name}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success"
            [disabled]="!newTicketForm.form.valid">Submit</button>
  </form>
</div>
